body{
    text-align: center;
}
#output{
    border: 1px solid black;
    height: 10vh;
    width: 70%;
    margin: auto;
    padding: 1rem;
}
textarea{
    height: 10vh;
    width:70%;
    margin: auto;
    border: 1px solid black;
    padding: 1rem;
}
button{
    margin: auto;
}